.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 1;
}

.content {
    width: 100%;
    margin-bottom: 16px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
}

.order {
    max-width: 235px;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: 1px solid #cccccc;
    padding: 20px;
    background-color: #ffffff;
    cursor: pointer;
}

.status {
    border-radius: 30px;
    font-size: 12px;
    font-weight: bold;
    padding: 2px 16px;
    display: flex;
    gap: 6px;
    justify-content: center;
    align-items: center;
}

.status svg {
    font-weight: bold;
}

.notEvalueted {
    border: 1px solid #eab308;
    color: #a16207;
    background-color: #fefce8;
}

.notEvalueted svg {
    color: #eab308;
}

.approved {
    border: 1px solid #008000;
    color: #166534;
    background-color: #dcfce7;
}

.failed {
    border: 1px solid #870000;
    color: #870000;
    background-color: #ffcdd2;
}

.failed svg {
    width: 14px;
    height: 14px;
}

.tabs {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 16px;
    margin-bottom: 16px;
}

.tab {
    width: 200px;
    padding: 10px 20px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    border: 1px solid #ffffff;
}

.tab:hover {
    border: 1px solid #e2452f;
}

.tabSelected {
    border: 1px solid #e2452f;
    background-color: #e2452f;
    color: white;
}

.tabSelected:hover {
    opacity: 1;
    background-color: #e2452f;
    border: 1px solid #e2452f;
}

.groupOptional {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.optional {
    display: flex;
    flex-direction: row;
    gap: 8px;
    margin-left: 8px;
    margin-top: 3px
}

.optional svg {
    width: 15px;
    height: 15px;
}

.topTitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.gridValidation {
    display: grid;
    grid-template-columns: 1fr 1fr;
}