.container {
    width: 300px;
    height: 100vh;
    display: flex;
    background-color: black;
}

.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.item:hover {
    background-color: #333333;
}

.item {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 8px;
    background-color: #000000;
}

.item span {
    padding: 24px;
    font-size: 30px;
    color: white;
}