.container {
    width: 280px;
    height: 100vh;
    display: flex;
    background-color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.item:hover {
    background-color: #333333;
}

.item {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    padding: 8px;
    background-color: #000000;
    text-decoration: none;
}

.item svg {
    width: 30px;
    height: 30px;
    color: #ffffff;
    margin-left: 20px;
}

.item span {
    padding: 24px;
    font-size: 30px;
    color: white;
}


.selected {
    background-color: white;
}

.selected span {
    color: black;
}

.selected svg {
    color: #666666;
}

