header {
  display: flex;
  background-color: #5c5a5a;
  color: white;
  padding: 20px;
  text-align: center;
  margin-bottom: 20px;
  width: 80vw;
}

header h1 {
  display: flex;
  color: white;
  width: 100%;
  justify-content: center;
}

.cabecalho-div {
  width: 100vw;
  padding: 12px;
  margin-bottom: -12px;
}