*{
margin: 0;
padding: 0;
box-sizing: border-box;
overflow: hidden;

}
.content{
    background-color:#363636;
    display: flex;
    flex-direction: column;
    width: 280px;
    height: 100vh;
    justify-content: end;
    padding-bottom: 60px;
}
.item {
    display: flex;
    align-items: center;
    padding: 10px;
    text-decoration: none;
    color: #000;
    padding: 10px;
    font-size: 20px;
    margin-top: 35px;
}
.item:hover{
    background-color: #A9A9A9;
    color: white;
  
}
.item span {
    margin-left: 10px;
    
}
.Avatar h2{
    color:black
}
.Avatar{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-top: 40px;
    margin-right: 30px;
    border-bottom: 1px solid grey;
}