.container {
    width: 260x;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: black;
    justify-content: space-between;
    padding: 30px 20px;
}

.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.item:hover {
    background-color: #e2452f;
    color: #000000;
}

.item:hover span, .item:hover svg{
    color: #000000;
}

.item {
    border-radius: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    padding: 8px 12px;
    background-color: #000000;
    text-decoration: none;
    column-gap: 16px;
    margin-bottom: 8px;
}

.item svg {
    width: 30px;
    height: 30px;
    color: #ffffff;
    margin-left: 20px;
}

.item span {
    font-size: 18px;
    font-weight: 700;
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.selected {
    background-color: #e24520;
}

.selected:hover {
    background-color: #e2452f;
}

.selected span {
    color: #000000;
}

.selected svg {
    color: #000000;
}
