.conteudo-texto {
    width: 100%;
    display: flex;
    justify-content: center;
}

.container-conteudo {
    width: 100%;
    height: 80%;
    display: flex;
    align-items: start;
    justify-content: center;
    margin-top: 32px;
}

.container-conteudo .cadastrando {
    display: flex;
    width: 60%;
    flex-direction: column;
    padding: 18px;
    gap: 12px;
    background-color: #f4f4f4;
    border-radius: 8px;
}

.container-conteudo .consultando {
    display: flex;
    width: 60%;
    flex-direction: column;
    padding: 18px;
    gap: 12px;
    background-color: #f4f4f4;
    border-radius: 8px;
}

.container-conteudo h1 {
    text-align: center;
    font-size: 32px;
    font-family: 'Times New Roman', Times, serif;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
}

.container-conteudo h2 {
    margin-left: 12px;
    font-size: 22px;
    font-family: 'Times New Roman', Times, serif;
}

.container-conteudo input {
    height: 32px;
    border-radius: 6px;
    border: 1px solid #A9A9A9;
    padding: 10px;
    margin-bottom: 12px;
}

.container-conteudo input::placeholder {
    color: #A9A9A9;
    padding: 8px;
}

.button-manda-dados {
    background-color: rgb(129, 114, 114);
    width: 100%;
    height: 42px;
    font-size: 16px;
    border-radius: 6px;
    border: 1px solid;
    margin-top: 24px;
    margin-bottom: 24px;
}

.button-cadastra {
    background-color: aqua;
    color: red;
}

.header {
    background-color: blue;
}